---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---


<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">CV</div>
  </div>

  <div class="mb-10 text-justify">
    You can download my CV <a href="/rz_cv.pdf" target="_blank" class="link">here</a>. For a quick overview of my past experience, you can check the following sections.
  </div>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Pontificia Universidad Católica de Chile"
      subtitle="Industrial and Mathematical Engineering (BSc), 2009-2016"
    />
    <TimeLineElement
      title="École Polytechnique, France"
      subtitle="Applied Mathematics (BSc and MSc), 2011-2015"
    />
    <TimeLineElement
      title="Columbia University, US"
      subtitle="PhD in Sustainable Development, 2020-"
    />
  </div>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Previous Work Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="R&D Intern at PSA Peugeot Citroën"
      subtitle="From June to September 2013. Bessoncourt, France"
    >
      Mathematical modelling of maritime car shipping.
    </TimeLineElement>
    <TimeLineElement
      title="Research Assistant at Collége de France"
      subtitle="From April to July 2014. Paris, France"
    >
      Mathematical modelling and statistical analysis at the Mathematical Neuroscience Laboratory with Jonathan Touboul.
    </TimeLineElement>
    <TimeLineElement
      title="Reseach Assistant at Pontificia Universidad Católica de Chile"
      subtitle="From March 2015 to April 2016. Santiago, Chile"
    >
      Research Assistant at the Department of Industrial Engineering with Tomás Reyes and Pablo Hernández Lagos.
    </TimeLineElement>
    <TimeLineElement
      title="Economist at Central Bank of Chile"
      subtitle="From May 2016 to June 2020. Santiago, Chile"
    >
      Macroeconomic modeling and forecasting; monetary policy analysis.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Awards and Scholarships</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      Dean Fellowship, Columbia University, 2020-2025
    </li>
    <li>
      Best Student in Insdustrial Engineering Prize, Professional Engineers Association, Chile, 2017
    </li>
    <li>
      Best Student Prize, Department of Industrial Engineering, PUC, 2016
    </li>
    <li>
      Best Student Prize, Department of Mathematical Engineering, PUC, 2016
    </li>
    <li>
      Eiffel Excellence Scholarship, France, 2012-2014
    </li>
    <li>
      Matricula de Honor Scholarship, PUC, 2010
    </li>
    <li>
      Padre Hurtado Scholarship Prize, PUC, 2009-2015
    </li>
    <li>
      Excellence Scholarship, Ministerio de Educación, Chile, 2009-2011
    </li>
  </ul>
</BaseLayout>
