---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Teaching" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Teaching</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <b> Advanced Computing for Policy</b> (TA), Spring 2025, Columbia University
    </li>
    <li>
      <b> Data and Conflict</b> (TA), Fall 2024, Columbia University
    </li>
    <li>
      <b> Quantitative Methods for Economic Policy </b> (TA), Summer 2023, Columbia University
    </li>
    <li>
      <b> Economic Policy Analysis </b> (TA), Fall 2022, Columbia University
    </li>
    <li>
      <b> Intermediate Microeconomics </b> (TA), Spring 2022, Columbia University
    </li>
    <li>
      <b> Quantitative Analysis III: Economics of Education Policy </b> (TA), Spring 2022, Columbia University
    </li>
    <li>
      <b> Computing in Context </b> (TA), Fall 2021, Columbia University
    </li>
    <li>
      <b> Macroeconomics </b> (TA), 2016, Universidad de Chile
    </li>
    <li>
      <b> Finance and Project Evaluation </b> (TA), 2015-2016, Pontificia Universidad Católica de Chile
    </li>
    <li>
      <b> Several Math Classes for Engineering </b> (TA), 2010-2011, Pontificia Universidad Católica de Chile
    </li>
  </ul>

</BaseLayout>
